<h1>Edit Game</h1>
<form name="gameform" novalidate ng-submit="vm.editGame()">
    <div class="form-group">
        <label for="title">Title:</label>
        <input id="title" name="gametitle" class="form-control" type="text" ng-model="vm.game.title" ng-required="true" />
        <span ng-show="gameform.gametitle.$touched && gameform.gametitle.$error.required" class="error">
            Game Title is required!!!
        </span>
    </div>
    <div class="form-group">
        <label for="na_releaseDate">NA Release Date:</label>
        <input id="na_releaseDate" name="na_releaseDate" class="form-control" type="text" ng-model="vm.game.na_releaseDate" />
    </div>
    <div class="form-group">
        <label for="eu_releaseDate">EU Release Date:</label>
        <input id="eu_releaseDate" class="form-control" type="text" ng-model="vm.game.eu_releaseDate" />
    </div>
    <div class="form-group">
        <label for="publisher">Publisher:</label>
        <input id="publisher" class="form-control" type="text" ng-model="vm.game.publisher" required />
    </div>

    <!--<md-content>-->
        <md-button class="md-raised md-primary" ui-sref="Games"><md-icon>done</md-icon>Save</md-button>
        <md-button class="md-raised md-warn" ui-sref="Games">Cancel</md-button>
    <!--</md-content>-->
</form>